@import "tailwindcss";

@font-face {
  font-family: "Balsamiq Sans";
  src: url("/fonts/balsamiq-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Patrick Hand";
  src: url("/fonts/patrick-hand.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-600.ttf") format("truetype");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-800.ttf") format("truetype");
  font-style: normal;
  font-weight: 750 850;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-900.ttf") format("truetype");
  font-style: normal;
  font-weight: 900 1000;
  font-display: swap;
}

@theme inline {
  --color-navy: #082965;
  --color-cream: #fffaf0;
  --color-coral: #ff557f;
  --color-sunshine: #ffc72f;
  --font-sans: "Nunito", sans-serif;
  --font-display: "Balsamiq Sans", "Comic Sans MS", cursive;
  --font-hand: "Patrick Hand", "Comic Sans MS", cursive;
  --color-orange: #ff5519;
  --breakpoint-desktop: 43.8125rem;
  --breakpoint-tablet: 56.3125rem;
  --breakpoint-wide: 90rem;
}
